include versioneer.py
include panel_segmentation/_version.py
include panel_segmentation/models/automated_geotagging_config.py
include panel_segmentation/models/automated_geotagging_model.pth
include panel_segmentation/models/panel_detection_config.py
include panel_segmentation/models/panel_detection_model.pth
include panel_segmentation/models/hail_config.py
include panel_segmentation/models/hail_model.pth
include panel_segmentation/models/post_hurricane_config.py
include panel_segmentation/models/post_hurricane_model.pth
include panel_segmentation/models/pre_hurricane_config.py
include panel_segmentation/models/pre_hurricane_model.pth
include panel_segmentation/models/sol_searcher_config.py
include panel_segmentation/models/sol_searcher_model.pth
include panel_segmentation/examples/*
include panel_segmentation/tests/*
include panel_segmentation/lidar/*